.content {
 background-color: darkolivegreen;
 width: 100%;
 min-height: 300px;
    /* .content__column */

    &__column {
    }

    /* .content__row */

    &__row {
    }

    /* .content__item */

    &__item {
    }
}
