
<div class="content" >
    <div class="content__column">
        <div class="content__row">
            <div class="content__item">
                <input id="inputOne" type="text" [(ngModel)]="eventOne" (ngModelChange)="onChangeInputOne()" value="{{eventOne}}">
                <select [(ngModel)]="selectva1" name="courseOne" id="courseOne">
                    <option  [value]="'UAH'">UAH</option>
                    <option [value]="'EUR'">EUR</option>
                    <option [value]="'USD'">USD</option>
                </select>
            </div>
            <div class="content__item">
                <input id="inputTwo" type="text" [(ngModel)]="eventTwo" (ngModelChange)="onChangeInputTwo()" value="{{eventTwo}}" >
                <select [(ngModel)]="selectva2" name="courseTwo" id="courseTwo">
                    <option [value]="'USD'">USD</option>
                    <option [value]="'UAH'">UAH</option>
                    <option [value]="'EUR'">EUR</option>
                </select>
            </div>
        </div>
    </div>
</div>
