
$color:#4ba8c7;

.User{
    display: flex;
    flex-direction: row;

    border: 2px solid $color;

    margin: 1.5rem 0;
    padding: 1.5rem;

    width: 600px;
    height: 100px;


    &__link img{

        width: 5rem;
        height: 5rem;
        max-width: 100%;
        background-position: center;
    }
    button{
        height: 2rem;
        width: 7rem;
        color: #fff;
        border: 0;
        
    }
    &__Follow{
        background-color: $color;
        
    }
    &__unFollow{
        background-color: #F84848;
    }

    &__Follow:hover {
        background-color: $color;
        color: #fff;
    }

    &__unFollow:hover{
        background-color: rgb(167, 46, 46);
        color: #fff;
    }
    &-info__name{
        font-size: 1.2rem;
    }
    &-info__status{
        margin: 10px 0
    }
    

};

.Paginator{
    &-itm{
        height: 3rem;
        min-width: 5rem;
        border: 0;
        background-color: $color;
        margin: 0 0.1rem;
        color: #ffffff;

        font-size: 1.5rem;
        font-weight: 600;

        box-sizing: border-box;
        
    }
    &-itm:hover{
        opacity: 0.6;
    }
    
}

