
.wreapper{
  max-width: 1200px;
  margin: 0 auto;
}
body{
  background-color: #f0f0f0;
  color: #000;
}

.wreapper__Content{
  
  border: 1.5px solid #333;
  margin-bottom: 50px;
  
  width: 780px;
  min-height: 868px;
}
.wreapper__Content--container{
  display: flex;
  width: 1022px;
  margin: 0 auto;
}




