
.wreapper{
  max-width: 1200px;
  margin: 0 auto;
}
body{
  background-color: #f0f0f0;
  color: #000;
}

.wreapper__Content{
  width: 100%;
}
.wreapper__Content--container{
  display: flex;
  width: 1022px;
  margin: 0 auto;
}




