.wreapper__content{
  grid-area: content;
}
.wreapper__content__image-big img{
  width: 100%;
  height: 300px;
}
.wreapper__content__iteam-avatar img{
  width: 100px;
  height: 100px;
  margin: 5px 5px;
}

.Post__items{
  display: flex;
  flex-direction: column-reverse;
  gap: 5px ;
  padding: 0px 0.3rem;
}

.info{
  
  background-color: #f2dfd3;
}

.Post__new{
  background-color: #f2dfd3;
  margin: 10px;
}

textarea{
  resize: none;
  width: 200px;
  height: 30px;
  margin-left: 20px;
}